<p id="notice"></p>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%# @users_book.each do |users| %>
      <%= attachment_image_tag @users_, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
      <table class="table">
        <tbody>
          <tr>
          </tr>
          <tr>
            <th>name</th>
            <th><%= users.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @users.body %></th>
          </tr>
        </tbody>
      </table>
      <%# end %>
      <div class="row">
        <%= link_to users_edit_path, class:"btn btn-outline-secondary btn-block fas fa-user-cog" %>
      </div>
      
    </div>
  </div>
</div>
